.PageGame {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .board {
    width: 510px;
    height: 510px;
    display: flex;
    flex-direction: column;
    .row {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  }
  
  .selected{
    background-color: rgba(239, 116, 255, 0.116);
  }
  
  .square {
    width: 100%;
    height: 170px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:active {
      background-color: rgba(239, 116, 255, 0.116);
    }
    .players-default{
      color: rgb(255, 255, 255);
      font-size: 92px;
    }
    .default-color{
      animation: pulsateDefault 1.5s infinite alternate;  
    }
    .player-purple{
      animation: pulsatePurple 1.5s infinite alternate;  
    }
    .player-red{
      animation: pulsateRed 1.5s infinite alternate;  
    }
    .player-blue{
      animation: pulsateBlue 1.5s infinite alternate;  
    }
  }
  .points {
    font-family: Orbitron;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    span{
      font-size: 32px;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 2px #fff, 0 0 8px #fff;
      margin: 10px;
    }
    hr{
      width: 100%;
      color: rgb(255, 255, 255);
      box-shadow: 0 0 1px #fff,  0 0 6px #fff;
    }
    .score-Board{
      display: grid;
      width: 80%;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-items: center;
      margin: 5px;
      h1 {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 60px;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 1px #fff, 0 0 8px #fff;
        margin: 0;
      }
    }
    h2 {
      font-size: 32px;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 1px #fff, 0 0 6px #fff;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  
  .line-top {
    height: 4px;
    width: 100%;
    bottom: -2px;
    left: 0;
  }
  .line-bottom {
    height: 4px;
    width: 100%;
    bottom: -2px;
    left: 0;
  }
  .line-vertical-left {
    height: calc(300% + 4px);
    width: 4px;
    left: 33%;
    top: -2px;
  }
  .line-vertical-right{
    height: calc(300% + 4px);
    width: 4px;
    left: 66%;
    bottom: -2px;
  }
  .line {
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px #fff,
    0 0 4px #fff,
    0 0 12px #fff;
    border-radius: 99px;
  }

  .game-menu{
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    gap:40px;
    a, i{
        cursor: pointer;
        display: block;
        padding: 10px;
        border-radius: 15px;
        border: 2px solid rgb(215, 215, 215, 0.3);
        transition: all 0.2s ease-in-out;
        .icon{
          display: block;
          width: 50px;
          height: 25px;
          path{
            transition: fill 0.4s ease;
            fill: rgb(255, 255, 255, 0.3);
          }
        }
        &:active, &:hover{
        border: 2px solid rgb(215, 215, 215);
        box-shadow: 0 0 2px rgb(255, 255, 255),
        0 0 2px rgb(255, 255, 255),
        0 0 12px rgb(255, 255, 255);
        .icon{
          path{
            fill: rgb(255, 255, 255);
          }
        }
      }
      }
  }
  @media (max-width: 768px) {
    .points {
      span{
        font-size: 28px;
      }
      .score-Board{
        h1 {
          font-size: 60px;
        }
      }
      h2 {
        font-size: 26px;
      }
    }
    .square {
      height: 140px;
      .players-default{
        font-size: 68px;
      }
    }
    .board {
      width: 420px;
      height: 420px;
    }
  }
  @media (max-width: 576px) {
    .points {
      span{
        font-size: 24px;
        text-shadow: 0 0 1px #fff, 0 0 3px #fff;
      }
      .score-Board{
        h1 {
          font-size: 52px;
          text-shadow: 0 0 1px #fff, 0 0 3px #fff;
        }
      }
      h2 {
        font-size: 22px;
        text-shadow: 0 0 1px #fff, 0 0 4px #fff;
      }
    }
    .square {
      height: 100px;
      .players-default{
        font-size: 52px;
      }
    }
    .board {
      width: 300px;
      height: 300px;
    }
  }
  @media (max-width: 390px) {
    .line-top {
      height: 2px;
      width: 100%;
      bottom: -2px;
      left: 0;
    }
    .line-bottom {
      height: 2px;
      width: 100%;
      bottom: -2px;
      left: 0;
    }
    .line-vertical-left {
      height: calc(300% + 2px);
      width: 2px;
      left: 33%;
      top: -2px;
    }
    .line-vertical-right{
      height: calc(300% + 2px);
      width: 2px;
      left: 66%;
      bottom: -2px;
    }
    .line {
      box-shadow: 0 0 1px #fff,
      0 0 2px #fff,
      0 0 5px #fff;
    }
    .square {
      height: 65px;
      .players-default{
        font-size: 36px;
      }
    }
    .board {
      width: 195px;
      height: 195px;
    }
    .game-menu{
      a, i{
          cursor: pointer;
          display: block;
          padding: 10px;
          border-radius: 15px;
          border: 2px solid rgb(215, 215, 215, 0.3);
          transition: all 0.2s ease-in-out;
          .icon{
            display: block;
            width: 40px;
            height: 20px;
          }
        }
    }
  }
  @media (max-width: 320px) {
    .square {
      height: 65px;
      .players-default{
        font-size: 36px;
      }
    }
    .board {
      width: 195px;
      height: 195px;
    }
    .game-menu{
      a, i{
          cursor: pointer;
          display: block;
          padding: 10px;
          border-radius: 15px;
          border: 2px solid rgb(215, 215, 215, 0.3);
          transition: all 0.2s ease-in-out;
          .icon{
            display: block;
            width: 40px;
            height: 20px;
          }
        }
    }
  }
  
  @keyframes pulsateDefault {
    100% {
        text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 8px #fff
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 8px #fff
  }
  }
  @keyframes pulsatePurple {
    100% {
        text-shadow:
        0 0 2px #fff,
        0 0 4px rgb(212, 0, 255),
        0 0 8px rgb(212, 0, 255)
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 3px rgb(212, 0, 255),
      0 0 8px rgb(212, 0, 255)
  }
  }
  @keyframes pulsateRed {
    100% {
        text-shadow:
        0 0 2px #fff,
        0 0 4px rgb(255, 0, 0),
        0 0 8px rgb(255, 0, 0)
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 3px rgb(255, 0, 0),
      0 0 8px rgb(255, 0, 0)
  }
  }
  @keyframes pulsateBlue {
    100% {
        text-shadow:
        0 0 2px #fff,
        0 0 4px rgb(0, 132, 255),
        0 0 8px rgb(0, 132, 255)
    }
    0% {
      text-shadow:
      0 0 2px #fff,
      0 0 3px rgb(0, 132, 255),
      0 0 8px rgb(0, 132, 255)
  }
  }
  