.PageMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  h1 {
    font-size: 54px;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 6px #fff;
    margin: 20px;
  }
  .main-menu {
    margin-top: 50px;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    a {
      text-decoration: none;
      color: rgb(255, 255, 255, 0.3);
      cursor: pointer;
      display: block;
      padding: 20px 40px;
      font-size: 20px;
      border-radius: 12px;
      border: 2px solid rgb(215, 215, 215, 0.3);
      transition: all 0.2s ease-in-out;
      .icon {
        display: block;
        width: 50px;
        height: 25px;
        path {
          transition: fill 0.4s ease;
          fill: rgb(255, 255, 255, 0.3);
        }
      }
      &:active, &:hover {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 2px #fff, 0 0 20px rgba(255, 255, 255, 0.8);
        border: 2px solid rgb(215, 215, 215);
        box-shadow: 0 0 2px rgb(255, 255, 255), 0 0 2px rgb(255, 255, 255),
          0 0 12px rgb(255, 255, 255);
        .icon {
          path {
            fill: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

@media (max-width: 768px){}

@media (max-width: 576px) {
  .PageMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
    h1 {
      font-size: 42px;
      color: #fff;
      text-shadow: 0 0 1px #fff, 0 0 2px #fff;
      margin: 20px;
    }
  .main-menu {
    a {
      text-decoration: none;
      color: rgb(255, 255, 255, 0.3);
      cursor: pointer;
      font-size: 18px;
      display: block;
      padding: 15px 30px;
      border-radius: 12px;
      border: 2px solid rgb(215, 215, 215, 0.3);
      transition: all 0.2s ease-in-out;
      .icon {
        display: block;
        width: 50px;
        height: 25px;
      }
    }
  }
}
}

@media (max-width: 320px) {}