
:root{
  font-family: Orbitron;
  --primary-color: #0fa;
  --secondary-color: #bc13fe;
}
body {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgb(4, 25, 47) 20%, rgb(8, 30, 55) 70.2%);
}
  @import "./style/Game.scss";
  @import "./style/MainMenu.scss";
  @import "./style/Options.scss";
